<body>
    <!--== MAIN CONTRAINER ==-->
    <div class="container-fluid sb1" style="height: 8%;">
        <div class="row">
            <!--== LOGO ==-->
            <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">
                <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
                
                <a href="index-2.html" class="logo"><img src="assets/images/logo1.png" alt="" />
                </a>
            </div>
            <!--== MY ACCCOUNT ==-->
            <div  class="text">
                <!-- Dropdown Trigger -->
                <a href='/student-profile' data-activates='top-menu' ><img src="assets/images/user/6.png" alt="" /></a>
            </div>
        </div>
    </div>

    <div class="container-fluid sb2">
        <div>
            <div class="sb2-1">
                    <!--== USER INFO ==-->
                    <div class="sb2-12">
                       <ul>
                           <li><img src="assets/images/placeholder.jpg" alt="">
                           </li>
                           <li>
                               <h5 class="color"> Emna Hmani <span> Manouba,Tunis </span></h5>
                           </li>
                           <li></li>
                       </ul>
                   </div>
                   <!--== LEFT MENU ==-->
                   <div class="sb2-13">
                       <ul class="collapsible" data-collapsible="accordion">
                           <li><a  href="" routerLink="/student-space" routerLinkActive="active" class="menu-active"><i class="fa fa-bar-chart" aria-hidden="true"></i>My dashboard</a>
                           </li>
                           <li><a href="" routerLink="/student-classroom" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Classroom</a>
                           </li>
                           <li><a href="" routerLink="/student-profile" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Profile</a>
                           </li>
                           <li><a href="" routerLink="/student-calendar" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Calendar</a>
                           </li>
                           <li><a href="" routerLink="/student-timeLine" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Time Line</a>
                           </li>
                           <li><a href="" routerLink="/student-tests" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Tests</a>
                           </li>
                           <li><a href="" routerLink="/student-events" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Events</a>
                           </li>
                           <li><a href="" routerLink="/student-articles" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Articles</a>
                           </li>
                           <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> All Courses</a>
                               <div class="collapsible-body left-sub-menu">
                                   <ul>
                                       <li><a href="admin-all-courses.html">All Course</a>
                                       </li>
                                       <li><a href="admin-add-courses.html">Add New Course</a>
                                       </li>
                                       <li><a href="admin-trash-courses.html">Trash Course</a>
                                       </li>
                                   </ul>
                               </div>
                           </li>
                   
                       </ul>
                   </div>
                
                
                          
                
            </div>

            <!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="" routerLink="/home" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="" routerLink="/student-space" routerLinkActive="active"> Dashboard</a>
                        </li>
                        <li class="page-back"><a href="" routerLink="/home" routerLinkActive="active"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                        </li>
                    </ul>
                </div>

          
                <!--== DASHBOARD INFO ==-->
              
                   <div class="stu-db">
                    <div class="container pg-inn">
    
                          <full-calendar  [options]="calendarOptions"></full-calendar>
                        
                    </div>
                </div>
              
            </div>
        </div>
    </div>

</body>
