<body>
    <!--== MAIN CONTRAINER ==-->
    <div class="container-fluid sb1" style="height: 8%;">
        <div class="row">
            <!--== LOGO ==-->
            <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">
                <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
                
                <a href="index-2.html" class="logo"><img src="assets/images/logo1.png" alt="" />
                </a>
            </div>
            <!--== MY ACCCOUNT ==-->
            <div  class="text">
                <!-- Dropdown Trigger -->
                <a href='/student-profile' data-activates='top-menu' ><img src="assets/images/user/6.png" alt="" /></a>
            </div>
        </div>
    </div>

    <div class="container-fluid sb2">
        <div>
            <div class="sb2-1">
                    <!--== USER INFO ==-->
                    <div class="sb2-12">
                       <ul>
                           <li><img src="assets/images/placeholder.jpg" alt="">
                           </li>
                           <li>
                               <h5 class="color"> Emna Hmani <span> Manouba,Tunis </span></h5>
                           </li>
                           <li></li>
                       </ul>
                   </div>
                   <!--== LEFT MENU ==-->
                   <div class="sb2-13">
                       <ul class="collapsible" data-collapsible="accordion">
                           <li><a  href="" routerLink="/student-space" routerLinkActive="active" class="menu-active"><i class="fa fa-bar-chart" aria-hidden="true"></i>My dashboard</a>
                           </li>
                           <li><a href="" routerLink="/student-classroom" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Classroom</a>
                           </li>
                           <li><a href="" routerLink="/student-profile" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Profile</a>
                           </li>
                           <li><a href="" routerLink="/student-calendar" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Calendar</a>
                           </li>
                           <li><a href="" routerLink="/student-timeLine" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Time Line</a>
                           </li>
                           <li><a href="" routerLink="/student-tests" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Tests</a>
                           </li>
                           <li><a href="" routerLink="/student-events" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Events</a>
                           </li>
                           <li><a href="" routerLink="/student-articles" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Articles</a>
                           </li>
                           <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> All Courses</a>
                               <div class="collapsible-body left-sub-menu">
                                   <ul>
                                       <li><a href="admin-all-courses.html">All Course</a>
                                       </li>
                                       <li><a href="admin-add-courses.html">Add New Course</a>
                                       </li>
                                       <li><a href="admin-trash-courses.html">Trash Course</a>
                                       </li>
                                   </ul>
                               </div>
                           </li>
                   
                       </ul>
                   </div>
                
                
                          
                
            </div>

            <!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="" routerLink="/home" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="" routerLink="/student-space" routerLinkActive="active"> Dashboard</a>
                        </li>
                        <li class="page-back"><a href="" routerLink="/home" routerLinkActive="active"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                        </li>
                    </ul>
                </div>

          
                <!--== DASHBOARD INFO ==-->
              
                  <!-- <div class="stu-db">
                    <div class="container pg-inn">-->
                        <!--SECTION START-->
    <section >
         <!-- <div class="stu-db">
            <div class="container pg-inn">
                <div class="col-md-9">-->
                    <div class="udb" >
                        <div class="udb-sec udb-time" >
                            <h4><img src="assets/images/icon/db4.png" alt="" /> Class Time Line</h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                            <div class="tour_head1 udb-time-line days">
                                <ul>
                                    <li class="l-info-pack-plac" > <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <div class="sdb-cl-tim">
                                            <div class="sdb-cl-day">
                                                <h5>Today</h5>
                                                <span>10Sep 2018</span>
                                            </div>
                                            <div class="sdb-cl-class">
                                                <ul>
                                                    <li>
                                                        <div class="sdb-cl-class-tim">
                                                            <span>9:30 am</span>
                                                            <span>10:15 am</span>
                                                        </div>
                                                        <div class="sdb-cl-class-name">
                                                            <h5>Software Testing <span>John Smith</span></h5>
                                                            <span class="sdn-hall-na">Apj Hall 112</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="sdb-cl-class-tim">
                                                            <span>10:15 am</span>
                                                            <span>11:00 am</span>
                                                        </div>
                                                        <div class="sdb-cl-class-name">
                                                            <h5>Mechanical Design Classes <span>Stephanie</span></h5>
                                                            <span class="sdn-hall-na">Apj Hall 112</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="sdb-cl-class-tim">
                                                            <span>11:00 am</span>
                                                            <span>11:45 am</span>
                                                        </div>
                                                        <div class="sdb-cl-class-name sdb-cl-class-name-lev">
                                                            <h5>Board Exam Training Classes <span>Matthew</span></h5>
                                                            <span class="sdn-hall-na">Apj Hall 112</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <div class="sdb-cl-tim">
                                            <div class="sdb-cl-day">
                                                <h5>Tuesday</h5>
                                                <span>11Sep 2018</span>
                                            </div>
                                            <div class="sdb-cl-class">
                                                <ul>
                                                    <li>
                                                        <div class="sdb-cl-class-tim">
                                                            <span>9:30 am</span>
                                                            <span>10:15 am</span>
                                                        </div>
                                                        <div class="sdb-cl-class-name">
                                                            <h5>Agriculture <span>John Smith</span></h5>
                                                            <span class="sdn-hall-na">Apj Hall 112</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="sdb-cl-class-tim">
                                                            <span>10:15 am</span>
                                                            <span>11:00 am</span>
                                                        </div>
                                                        <div class="sdb-cl-class-name">
                                                            <h5>Google Product Training <span>Stephanie</span></h5>
                                                            <span class="sdn-hall-na">Apj Hall 112</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="sdb-cl-class-tim">
                                                            <span>11:00 am</span>
                                                            <span>11:45 am</span>
                                                        </div>
                                                        <div class="sdb-cl-class-name sdb-cl-class-name-lev">
                                                            <h5>Web Design & Development <span>Matthew</span></h5>
                                                            <span class="sdn-hall-na">Apj Hall 112</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <div class="sdb-cl-tim">
                                            <div class="sdb-cl-day">
                                                <h5>Wednesday</h5>
                                                <span>12Sep 2018</span>
                                            </div>
                                            <div class="sdb-cl-class">
                                                <ul>
                                                    <li>
                                                        <div class="sdb-cl-class-tim">
                                                            <span>9:30 am</span>
                                                            <span>10:15 am</span>
                                                        </div>
                                                        <div class="sdb-cl-class-name">
                                                            <h5>Software Testing <span>John Smith</span></h5>
                                                            <span class="sdn-hall-na">Apj Hall 112</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="sdb-cl-class-tim">
                                                            <span>10:15 am</span>
                                                            <span>11:00 am</span>
                                                        </div>
                                                        <div class="sdb-cl-class-name">
                                                            <h5>Mechanical Design Classes <span>Stephanie</span></h5>
                                                            <span class="sdn-hall-na">Apj Hall 112</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="sdb-cl-class-tim">
                                                            <span>11:00 am</span>
                                                            <span>11:45 am</span>
                                                        </div>
                                                        <div class="sdb-cl-class-name sdb-cl-class-name-lev">
                                                            <h5>Board Exam Training Classes <span>Matthew</span></h5>
                                                            <span class="sdn-hall-na">Apj Hall 112</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <h4><span>Holiday: </span> Thursday </h4>
                                        <p>After breakfast, proceed for tour of Dubai city. Visit Jumeirah Mosque, World Trade Centre, Palaces and Dubai Museum. Enjoy your overnight stay at the hotel.In the evening, enjoy a tasty dinner on the Dhow cruise.
                                            Later, head back to the hotel for a comfortable overnight stay.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
            
        
    </section>
    <!--SECTION END-->
                        
                    </div>
        </div>
    </div>
             
    

</body>
