<section>
  <div class="container com-sp">
      <div class="row">
          <div class="cor about-sp">
              <div class="ed-about-tit">
                  <div class="con-title">
                      <h2>ENSI <span> Events</span></h2>
                      <p>Welcome to our associative space!</p>
                  </div>
                  <div>
                      <div class="ho-event pg-eve-main" *ngFor = "let event of events">
                          <ul>
                              <li>
                                  <div class="ho-ev-date pg-eve-date"><span>{{event.dayEvent}}</span><span>{{event.monthEvent}}</span>
                                  </div>
                                  <div class="ho-ev-link pg-eve-desc">
                                      <a href="event-register.html">
                                          <h4>{{event.nameEvent}}</h4>
                                          <span>{{event.duration}}</span>
                                      </a>
                                      <p>{{event.description}}</p>
                                     
                                      <span>{{event.link}}</span>

                                  </div>

                              </li>






                          </ul>
                      </div>
                  </div>
                  <div class="pg-pagina">
                      <ul class="pagination">
                          <li class="disabled"><a href="#!"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                          <li class="active"><a href="#!">1</a></li>
                          <li class="waves-effect"><a href="#!">2</a></li>
                          <li class="waves-effect"><a href="#!">3</a></li>
                          <li class="waves-effect"><a href="#!">4</a></li>
                          <li class="waves-effect"><a href="#!">5</a></li>
                          <li class="waves-effect"><a href="#!"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                      </ul>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--SECTION END-->

