<body>
  <!--== MAIN CONTRAINER ==-->
  <div class="container-fluid sb1">
      <div class="row">
          <!--== LOGO ==-->
          <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">

           <!--  <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
              <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a> -->

              <a href="index-2.html" class=""><img src="assets/images/logo1.png" alt="" />
              </a>
          </div>
      </div>
  </div>

  <!--== BODY CONTNAINER ==-->
  <div class="container-fluid sb2 ">
      <div >
          <div class="sb2-1 ">


              <!--== USER INFO ==-->
             <div class="sb2-12 ">
               <ul>
                  <li><img src="assets/images/placeholder.jpg" alt="">
                  </li>
                  <li>
                     <h5>Teacher <span> ENSI</span></h5>
                  </li>
                  <li></li>
                </ul>
             </div>
               <!--== LEFT MENU ==-->
               <div class="sb2-13 ">
                 <ul class="collapsible" data-collapsible="accordion">
                     <li><a href="admin.html" class="menu-active"><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a>
                     </li>
                     <li><a href="admin-setting.html"><i class="fa fa-cogs" aria-hidden="true"></i> Site Setting</a>
                     </li>
                     <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Classrooms</a>
                         <div class="collapsible-body left-sub-menu">
                             <ul>
                                 <li><a href="admin-all-courses.html">All Classrooms</a>
                                 </li>

                             </ul>
                         </div>
                     </li>

                     <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-users" aria-hidden="true"></i> Students</a>
                      <div class="collapsible-body left-sub-menu">
                          <ul>
                              <li><a href="" routerLink="/liststudents" routerLinkActive="active">All Students</a>
                              </li>

                          </ul>
                      </div>
                  </li>
                  <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-pencil" aria-hidden="true"></i> Groups</a>
                      <div class="collapsible-body left-sub-menu">
                          <ul>
                              <li><a href="" routerLink="" routerLinkActive="active">All Groups</a></li>
                         </ul>
                      </div>
                  </li>
                  <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-bars" aria-hidden="true"></i> Subjects</a>
                      <div class="collapsible-body left-sub-menu">
                          <ul>
                              <li><a href="">All Subjects</a></li>
                         </ul>
                      </div>
                  </li>
                  <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-bars" aria-hidden="true"></i> All tests</a>
                    <div class="collapsible-body left-sub-menu">
                        <ul>
                            <li><a href="" routerLink = "/exams">All Tests</a></li>
                            <li><a href="" routerLink="/addexam" >Add Test</a></li>
                       </ul>
                    </div>
                </li>
                  <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-calendar" aria-hidden="true"></i> Calendars</a>
                      <div class="collapsible-body left-sub-menu">
                          <ul>
                              <li><a  routerLink='' routerLinkActive="active">All Calendarss</a>
                              </li>

                          </ul>
                      </div>
                  </li>
                     <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-bookmark-o" aria-hidden="true"></i>All Pages</a>
                         <div class="collapsible-body left-sub-menu">
                             <ul>
                                 <li><a href="admin-page-all.html">Pages</a>
                                 </li>

                             </ul>
                         </div>
                     </li>

                     <li><a href="admin-quick-link.html"><i class="fa fa-external-link-square" aria-hidden="true"></i> Create a meeting link</a>
                     </li>

                     <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-bullhorn" aria-hidden="true"></i> Events</a>
                         <div class="collapsible-body left-sub-menu">
                             <ul>
                                 <li><a href="admin-seminar-all.html">All Events</a>
                                 </li>

                             </ul>
                         </div>
                     </li>
                     <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Articles</a>
                         <div class="collapsible-body left-sub-menu">
                             <ul>
                                 <li><a href="admin-job-all.html">All Articles</a>
                                 </li>
                                 <li><a href="admin-job-add.html">Add new article</a>
                                 </li>
                             </ul>
                         </div>
                     </li>


                     <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-commenting-o" aria-hidden="true"></i> Enquiry</a>
                         <div class="collapsible-body left-sub-menu">
                             <ul>
                                 <li><a href="admin-all-enquiry.html">All Enquiry</a></li>
                                 <li><a href="admin-course-enquiry.html">Course Enquiry</a></li>
                                 <li><a href="admin-admission-enquiry.html">Admission Enquiry</a></li>
                                 <li><a href="admin-seminar-enquiry.html">Seminar Enquiry</a></li>
                                 <li><a href="admin-event-enquiry.html">Event Enquiry</a></li>
                                 <li><a href="admin-common-enquiry.html">Common Enquiry</a></li>
                             </ul>
                         </div>
                     </li>
                     <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-cloud-download" aria-hidden="true"></i> Import & Export</a>
                         <div class="collapsible-body left-sub-menu">
                             <ul>
                                 <li><a href="admin-export-data.html">Export all datas</a>
                                 </li>
                                 <li><a href="admin-import-data.html">Import all datas</a>
                                 </li>
                             </ul>
                         </div>
                     </li>
                 </ul>
             </div>





          </div>

          <!--== BODY INNER CONTAINER ==-->
          <div class="sb2-2">
              <!--== breadcrumbs ==-->
              <div class="sb2-2-2">
                  <ul>
                      <li><a href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                      </li>
                      <li class="active-bre"><a href="#"> Dashboard</a>
                      </li>
                      <li class="page-back"><a href="./"><i class="fa fa-backward" aria-hidden="true"></i> Logout</a>
                      </li>
                  </ul>
              </div>
              <!--== DASHBOARD INFO ==-->
              <div class="sb2-2-1">
                  <h2>teacher space</h2>
                  <p>Welcome to your space! manage everything here!</p>
                  <div class="db-2">

                  </div>
              </div>
              <div class="sb2-3">
                <!--POPULAR COURSES-->
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Course Name</th>
                        <th>Teacher FullName</th>
                        <th>Group</th>
                     
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let course of courses">
                        <td>{{ course.title }} / {{course.year}}</td>
                        <td>{{ course.teacher.fullName }}</td>
                      
                        <td>{{ course.teacher.group.nameG }}</td>
                        
                        <td>
                          <button
                           (click)="gotoclassroom(course.idCourse)"
                            class="btn btn-info"
                          >
                            View Courses
                      
                        </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              <!--POPULAR COURSES-->
              </div>

  </div>
</div>
</div>
</body>







