<body>
    <!--== MAIN CONTRAINER ==-->
    <div class="container-fluid sb1" style="height: 8%;">
        <div class="row">
            <!--== LOGO ==-->
            <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">
                <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
                
                <a href="index-2.html" class="logo"><img src="assets/images/logo1.png" alt="" />
                </a>
            </div>
            <!--== MY ACCCOUNT ==-->
            <div  class="text">
                <!-- Dropdown Trigger -->
                <a href='/student-profile' data-activates='top-menu' ><img src="assets/images/user/6.png" alt="" /></a>
            </div>
        </div>
    </div>

    <div class="container-fluid sb2">
        <div>
            <div class="sb2-1">
                    <!--== USER INFO ==-->
                    <div class="sb2-12">
                       <ul>
                           <li><img src="assets/images/placeholder.jpg" alt="">
                           </li>
                           <li>
                               <h5 class="color"> Emna Hmani <span> Manouba,Tunis </span></h5>
                           </li>
                           <li></li>
                       </ul>
                   </div>
                   <!--== LEFT MENU ==-->
                   <div class="sb2-13">
                       <ul class="collapsible" data-collapsible="accordion">
                           <li><a  href="" routerLink="/student-space" routerLinkActive="active" class="menu-active"><i class="fa fa-bar-chart" aria-hidden="true"></i>My dashboard</a>
                           </li>
                           <li><a href="" routerLink="/student-classroom" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Classroom</a>
                           </li>
                           <li><a href="" routerLink="/student-profile" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Profile</a>
                           </li>
                           <li><a href="" routerLink="/student-calendar" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Calendar</a>
                           </li>
                           <li><a href="" routerLink="/student-timeLine" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Time Line</a>
                           </li>
                           <li><a href="" routerLink="/student-tests" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Tests</a>
                           </li>
                           <li><a href="" routerLink="/student-events" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Events</a>
                           </li>
                           <li><a href="" routerLink="/student-articles" routerLinkActive="active" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> Articles</a>
                           </li>
                           <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> All Courses</a>
                               <div class="collapsible-body left-sub-menu">
                                   <ul>
                                       <li><a href="admin-all-courses.html">All Course</a>
                                       </li>
                                       <li><a href="admin-add-courses.html">Add New Course</a>
                                       </li>
                                       <li><a href="admin-trash-courses.html">Trash Course</a>
                                       </li>
                                   </ul>
                               </div>
                           </li>
                   
                       </ul>
                   </div>
                
                
                          
                
            </div>

            <!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> Dashboard</a>
                        </li>
                        <li class="page-back"><a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                        </li>
                    </ul>
                </div>

          
                <!--== DASHBOARD INFO ==-->
              
                   <div class="stu-db">
                    <div class="container pg-inn">
                        <!--SECTION START-->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>Articles</h2>
                            <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                        </div>
                        <div>
                            <div class="ho-event pg-eve-main pg-blog">
                                <ul>
                                    <li>
                                        <div class="ho-ev-date pg-eve-date"><span>07</span><span>jan,2018</span>
                                        </div>
                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="event-register.html">
                                                <h4>Best Study Spots on Campus</h4>
                                            </a>
											<img src="assets/images/blog/6.jpg" alt="">
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
													<li><a href="#"><i class="fa fa-google-plus gp1"></i> Share On Google Plus</a>
													</li>
												</ul>
											</div>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                            <span>9:15 am – 5:00 pm</span>
                                        </div>
                                        <div class="pg-eve-reg pg-blog-reg">
                                            <a href="blog-details.html">Read more</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ho-ev-date pg-eve-date"><span>07</span><span>jan,2018</span>
                                        </div>
                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="event-register.html">
                                                <h4>Recaps of Student Events on Campus</h4>
                                            </a>
											<img src="images/blog/2.jpg" alt="">
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
													<li><a href="#"><i class="fa fa-google-plus gp1"></i> Share On Google Plus</a>
													</li>
												</ul>
											</div>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                            <span>9:15 am – 5:00 pm</span>
                                        </div>
                                        <div class="pg-eve-reg pg-blog-reg">
                                            <a href="blog-details.html">Read more</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ho-ev-date pg-eve-date"><span>07</span><span>jan,2018</span>
                                        </div>
                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="event-register.html">
                                                <h4>School Project Highlights</h4>
                                            </a>
											<img src="assets/images/blog/3.jpg" alt="">
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
													<li><a href="#"><i class="fa fa-google-plus gp1"></i> Share On Google Plus</a>
													</li>
												</ul>
											</div>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                            <span>9:15 am – 5:00 pm</span>
                                        </div>
                                        <div class="pg-eve-reg pg-blog-reg">
                                            <a href="blog-details.html">Read more</a>
                                        </div>
                                    </li>
									<li>
                                        <div class="ho-ev-date pg-eve-date"><span>07</span><span>jan,2018</span>
                                        </div>
                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="event-register.html">
                                                <h4>Sample Semester Schedule</h4>
                                            </a>
											<img src="assets/images/blog/4.jpg" alt="">
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
													<li><a href="#"><i class="fa fa-google-plus gp1"></i> Share On Google Plus</a>
													</li>
												</ul>
											</div>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                            <span>9:15 am – 5:00 pm</span>
                                        </div>
                                        <div class="pg-eve-reg pg-blog-reg">
                                            <a href="blog-details.html">Read more</a>
                                        </div>
                                    </li>
									 <li>
                                        <div class="ho-ev-date pg-eve-date"><span>07</span><span>jan,2018</span>
                                        </div>
                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="event-register.html">
                                                <h4>Experience of Studying Abroad</h4>
                                            </a>
											<img src="assets/images/blog/5.jpg" alt="">
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
													<li><a href="#"><i class="fa fa-google-plus gp1"></i> Share On Google Plus</a>
													</li>
												</ul>
											</div>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                            <span>9:15 am – 5:00 pm</span>
                                        </div>
                                        <div class="pg-eve-reg pg-blog-reg">
                                            <a href="blog-details.html">Read more</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pg-pagina">
                            <ul class="pagination">
                                <li class="disabled"><a href="#!"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li class="waves-effect"><a href="#!">2</a></li>
                                <li class="waves-effect"><a href="#!">3</a></li>
                                <li class="waves-effect"><a href="#!">4</a></li>
                                <li class="waves-effect"><a href="#!">5</a></li>
                                <li class="waves-effect"><a href="#!"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

                        
                    </div>
                </div>
              
            </div>
        </div>
    </div>

</body>
