<section>
    <div class="container com-sp pad-bot-70 pg-inn">
        <div class="row">
            <div class="cor">
                <div class="col-md-3">
                    <div class="cor-top-deta cor-side-com">
                        <div class="cor-top-deta">
                            <div class="ho-st-login cor-apply field-com">
                                <div class="col s12">


    <label class="btn btn-default p-0">
      <input type="file" (change)="selectFile($event)"  />
    </label>
  </div>

  <div class="col-4">
    <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
      Upload
    </button>
  </div>


<div *ngIf="currentFile" class="progress my-3">
  <div
    class="progress-bar progress-bar-info"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }"
  >
    {{ progress }}%
  </div>
</div>
<div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>



                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cor-side-com">
                      <div class="col s12">
                        <div class="">
                            <div class="de-left-tit">
                                <h4>Upcoming Event</h4>
                            </div>
                        </div>
                        <div>
                          <div class="ho-event pg-eve-main" *ngFor = "let event of events">
                              <ul>
                                  <li>
                                      <div class="ho-ev-date pg-eve-date"><span>{{event.dayEvent}} , {{event.monthEvent}}</span>
                                      </div>
                                      <div class="ho-ev-link pg-eve-desc">
                                          <a href="event-register.html">
                                              <h2>{{event.nameEvent}}</h2>
                                              <span>{{event.duration}}</span>


                                          </a>
                                          <a href="event-register.html">
                                            <h4>{{event.description}}</h4>
                                            <h4>{{event.link}}</h4>


                                        </a>
                                      </div>


                                  </li>






                              </ul>
                          </div>

                    </div>
                </div>
                </div>

                <!--to do list-->
                <div class="col-md-3">
                  <div class="cor-side-com">

                    <div class="ho-st-login">
                      <div class="col s12">

                            <button mat-button color="primary" (click)="onNewTodoClick()" class="create-button">
                              <mat-icon>library_add</mat-icon>
                              New Todo
                            </button>
                            <div class="todos-panel">
                              <!-- Uncompleted Todos -->
                              <mat-accordion>
                                <mat-expansion-panel *ngFor="let todo of todos; index as i">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      <mat-icon class="uncomplete" *ngIf="!todo.completed">close</mat-icon>
                                      <mat-icon class="complete" *ngIf="todo.completed">check</mat-icon>
                                      <span><strong>{{todo.createts | date: 'medium' }}</strong></span>
                                    </mat-panel-title>
                                    <mat-panel-description>{{todo.title}}</mat-panel-description>
                                  </mat-expansion-panel-header>
                                  <p>{{todo.description}}</p>
                                  <mat-action-row>
                                    <button mat-button color="primary" (click)="todoCompleted(i,!todo.completed)" *ngIf="!todo.completed">
                                      <mat-icon>check</mat-icon>
                                      Complete
                                    </button>
                                    <button mat-button color="primary" (click)="todoCompleted( i,!todo.completed)" *ngIf="todo.completed">
                                      <mat-icon>close</mat-icon>
                                      Uncomplete
                                    </button>
                                    <button mat-button color="secondary" (click)="deleteTodo(todo.id)">
                                      <mat-icon>delete</mat-icon>
                                      Delete
                                    </button>
                                  </mat-action-row>
                                </mat-expansion-panel>
                              </mat-accordion>
                            </div>
                          </div>
                    </div>

</div>
</div>


                </div>
                  <!--end to do-->


                  <div class="cor-p5">
                    <h3>Course Syllabus</h3>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home"  routerLink="/addexam" routerLinkActive="active">
                        <img src="assets/images/icon/cor4.png" alt=""> <span>add Test</span></a>
                        </li>
                        <li><a data-toggle="tab" href="#menu1"><img src="assets/images/icon/cor3.png" alt=""><span>Add Quiz</span></a></li>
                        <li><a data-toggle="tab" href="#menu2" (click)="gotostudentlist(course.idteacher)"><i class="fa fa-users" aria-hidden="true"></i><span>Student Profile</span></a></li>
                        <li><a data-toggle="tab" href="#menu2"><i class="fa fa-pencil" aria-hidden="true"></i> <span>Board</span></a></li>
                        <li><a data-toggle="tab" href="#menu2"><i class="fa fa-commenting-o" aria-hidden="true"></i> <span>Forum</span></a></li>
                      </ul>
                <div class="col-md-6">

                    <div class="cor-con-mid">
                        <div class="cor-p1">

                            <h2>{{course.title}}</h2>


                        </div>
                        <div class="cor-p4">
                            <h3>Course Details:</h3>
                            <p> {{course.description}}</p>
                        </div>

                        <div class="cor-p4">
     <div class="de-left-tit">

         <button class="btn btn-info" (click)="meetSupport()"> Link meet </button>
         </div>





                            <h3>courses table:</h3>

                         <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header active">{{course.year}}</div>
                                    <div class="collapsible-body cor-tim-tab">
                                        <h4> Courses</h4>
                                        <ul  *ngFor="let file of fileInfos | async">
                                            <li><a href="{{ file.url }}">{{ file.name }}</a></li>

                                        </ul>

                                    </div>
                                </li>


                            </ul>


                        </div>
                    </div>
                    </div>
                    </div>

                </div>
            </div>






</section>
<!--SECTION END-->


<!--SECTION START-->

<!--SECTION END-->

<!--HEADER SECTION-->
<section class="wed-hom-footer">
    <div class="container">





        <div class="row wed-foot-link-1">
            <div class="col-md-4 foot-tc-mar-t-o">
                <h4>Get In Touch</h4>
                <p>Address: Tunis , Manouba : compus Manouba , ENSI </p>
                <p>Phone: <a href="#!">+101-1231-4321</a></p>
                <p>Email: <a href="#!">ensi@edu.com</a></p>
            </div>

            <div class="col-md-4">
                <h4>SOCIAL MEDIA</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
<!--END HEADER SECTION-->

<!--HEADER SECTION-->

<!--END HEADER SECTION-->

<!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->

    <!-- LOGIN SECTION -->

    <!-- REGISTER SECTION -->











