<section>
    <div class="container com-sp pad-bot-70 pg-inn">
        <div class="row">
            <div class="cor">
                <div class="col-md-3">
                    <div class="cor-top-deta cor-side-com">
                        <div class="cor-top-deta">
                            <div class="ho-st-login cor-apply field-com">
                                <div class="col s12">
                                    
   
    <label class="btn btn-default p-0">
      <input type="file" (change)="selectFile($event)"  />
    </label>
  </div>

  <div class="col-4">
    <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
      Upload
    </button>
  </div>


<div *ngIf="currentFile" class="progress my-3">
  <div
    class="progress-bar progress-bar-info"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }"
  >
    {{ progress }}%
  </div>
</div>
<div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

                                       

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cor-side-com">
                        <div class="">
                            <div class="de-left-tit">
                                <h4>Upcoming Event</h4>
                            </div>
                        </div>
                        <div class="ho-event">
                            <ul>
                                <li>
                                    <div class="ho-ev-link ho-ev-link-full">
                                        <a href="#">
                                            <h4>Workshop PHP</h4>
                                        </a>
                                        <p>Nulla at velit convallis venenatis.</p>
                                        <span>9:15 am – 5:00 pm</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ho-ev-link ho-ev-link-full">
                                        <a href="#">
                                            <h4>Workshop PHP</h4>
                                        </a>
                                        <p>Nulla at velit convallis venenatis.</p>
                                        <span>9:15 am – 5:00 pm</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ho-ev-link ho-ev-link-full">
                                        <a href="#">
                                            <h4>Workshop PHP</h4>
                                        </a>
                                        <p>Nulla at velit convallis venenatis.</p>
                                        <span>9:15 am – 5:00 pm</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ho-ev-link ho-ev-link-full">
                                        <a href="#">
                                            <h4>Workshop PHP</h4>
                                        </a>
                                        <p>Nulla at velit convallis venenatis.</p>
                                        <span>9:15 am – 5:00 pm</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cor-mid-img">
                        <img src="images/course.jpg" alt="">
                    </div>
                    <div class="cor-con-mid">
                        <div class="cor-p1">

                            <h2>{{course.title}}</h2>
                            <span>Category: Software Testing</span>
                            
                        </div>
                        <div class="cor-p4">
                            <h3>Course Details:</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                              200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem
                                Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                            <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        
                        <div class="cor-p4">
     <div class="de-left-tit">
         <button class="btn btn-info" (click)="meetSupport()"> Link meet </button>
     </div>
                            <h3>courses table:</h3>

                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header active">1st year</div>
                                    <div class="collapsible-body cor-tim-tab">
                                        <h4>{{course.year}} Courses</h4>
                                        <ul  *ngFor="let file of fileInfos | async">
                                            <li><a href="{{ file.url }}">{{ file.name }}</a></li>
                                            
                                        </ul>
                                        
                                    </div>
                                </li>
                                
                                
                            </ul>
                        </div>
                        <div class="cor-p6">
                            <h3>Student Reviews</h3>
                            <div class="cor-p6-revi">
                                <div class="cor-p6-revi-left">
                                    <img src="images/4.jpg" alt="">
                                </div>
                                <div class="cor-p6-revi-right">
                                    <h4>Rachel Britain</h4>
                                    <span>Date: 12may, 2017</span>
                                    <p>Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus, lacinia blandit mi tincidunt at. Vivamus vitae interdum felis. Pellentesque congue mollis erat in imperdiet.</p>
                                </div>
                            </div>
                            <div class="cor-p6-revi">
                                <div class="cor-p6-revi-left">
                                    <img src="images/4.jpg" alt="">
                                </div>
                                <div class="cor-p6-revi-right">
                                    <h4>Rachel Britain</h4>
                                    <span>Date: 12may, 2017</span>
                                    <p>Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus, lacinia blandit mi tincidunt at. Vivamus vitae interdum felis. Pellentesque congue mollis erat in imperdiet.</p>
                                </div>
                            </div>
                            <div class="cor-p6-revi">
                                <div class="cor-p6-revi-left">
                                    <img src="assets/images/4.jpg" alt="">
                                </div>
                                <div class="cor-p6-revi-right">
                                    <h4>Rachel Britain</h4>
                                    <span>Date: 12may, 2017</span>
                                    <p>Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus, lacinia blandit mi tincidunt at. Vivamus vitae interdum felis. Pellentesque congue mollis erat in imperdiet.</p>
                                </div>
                            </div>
                            <div class="cor-p6-revi">
                                <div class="cor-p6-revi-left">
                                    <img src="assets/images/4.jpg" alt="">
                                </div>
                                <div class="cor-p6-revi-right">
                                    <h4>Rachel Britain</h4>
                                    <span>Date: 12may, 2017</span>
                                    <p>Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus, lacinia blandit mi tincidunt at. Vivamus vitae interdum felis. Pellentesque congue mollis erat in imperdiet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="cor-p6">
                            <h3>Write Reviews</h3>
                            <div class="cor-p7-revi">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input type="text" class="validate">
                                            <label>Name</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input type="text" class="validate">
                                            <label>Email id</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea class="materialize-textarea"></textarea>
                                            <label>Message</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="submit" value="Submit" class="waves-effect waves-light btn-book">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                
                       
                        
                               
                              
                            
                         
                   
                   
                </div>
            </div>
        </div>
   
</section>
<!--SECTION END-->


<!--SECTION START-->

<!--SECTION END-->

<!--HEADER SECTION-->
<section class="wed-hom-footer">
    <div class="container">
        <!--<div class="row">
            <div class="col-md-12">
            <h4>About Wedding Planner</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
            <p>more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            <p></p>
          </div>
          </div>-->
       
            
            
        <div class="row wed-foot-link-1">
            <div class="col-md-4 foot-tc-mar-t-o">
                <h4>Get In Touch</h4>
                <p>Address: Tunis , Manouba : compus Manouba , ENSI </p>
                <p>Phone: <a href="#!">+101-1231-4321</a></p>
                <p>Email: <a href="#!">ensi@edu.com</a></p>
            </div>
            
            <div class="col-md-4">
                <h4>SOCIAL MEDIA</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
</section>
<!--END HEADER SECTION-->

<!--HEADER SECTION-->

<!--END HEADER SECTION-->

<!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->

    <!-- LOGIN SECTION -->
   
    <!-- REGISTER SECTION -->
    
                
                      
       
              
             





