<body>
    <div class="container-fluid sb1">
        <div class="row">
            <!--== LOGO ==-->
            <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">

             <!--  <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a> -->

                <a href="index-2.html" class=""><img src="assets/images/logo1.png" alt="" />
                </a>
            </div>
        </div>
    </div>

    <!--== BODY CONTNAINER ==-->
    <div class="container-fluid sb2 ">
        <div >
            <div class="sb2-1 ">
                <app-side-bar></app-side-bar>
            </div>
            <!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> Create new timetable</a>
                        </li>
                        <li class="page-back"><a href="" routerLink="/admin-space" routerLinkActive="active"><i class="fa fa-backward" aria-hidden="true"></i> Logout</a>
                        </li>
                    </ul>
                </div>

                <!--== User Details ==-->
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
						<div class="box-inn-sp admin-form">
                                <div class="inn-title">
                                    <h4>Create a new calendar </h4>
                                    <p>Here you can edit your website basic details URL, Phone, Email, Address, User and password and more</p>
                                </div>
                                <div class="tab-inn">
                                    

                                    <div >
                                        <app-panel-loader></app-panel-loader>
                                        <div class="container" >
                                            
                                            <div class="container">
                                                <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-timetable">            
                                                    <div class="form-group">
                                                        <label for="classroom">Class</label>
                                                       <select name="classroom" class="form-control form-control-sm" [(ngModel)]="selectedOptionGroup">
                                                            <option *ngFor="let group of groups" [ngValue]="group">{{group.nameG}}/{{group.levelG}}</option>
                                                       </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="day">Day</label>
                                                        <input type="number" class="form-control" id="day" required [(ngModel)]="timeTableEntity.day" name="day">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lessonNumber">Lesson Number</label>
                                                        <input type="number" class="form-control" id="lessonNumber" required [(ngModel)]="timeTableEntity.lessonNumber" name="lessonNumber">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="room">Course</label>
                                                       <select name="room" class="form-control form-control-sm" [(ngModel)]="selectedOptionCourse">
                                                            <option *ngFor="let course of courses" [ngValue]="course">{{course.title}}</option>
                                                       </select>
                                                    </div>
                                    
                                                    <button type="submit" (click)="goBack()" class="btn btn-dark">Back</button>
                                                    <button type="submit" class="btn btn-success">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>

