<body>
    <!--== MAIN CONTRAINER ==-->
    <div class="container-fluid sb1" style="height: 8%;">
        <div class="row">
            <!--== LOGO ==-->
            <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">
                <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
                
                <a href="index-2.html" class="logo"><img src="assets/images/logo1.png" alt="" />
                </a>
            </div>
            <!--== MY ACCCOUNT ==-->
            
        </div>
    </div>

    <div class="container-fluid sb2">
        <div>
            <div class="sb2-1">
                <app-side-bar-s></app-side-bar-s>
             </div>
    

            <!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="" routerLink="/home" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="" [routerLink]="['/student-space/', this.student.idS]" routerLinkActive="active"> Dashboard</a>
                        </li>
                        <li class="page-back"><a href="" routerLink="/home" routerLinkActive="active"><i class="fa fa-backward" aria-hidden="true"></i> Log Out </a>
                        </li>
                    </ul>
                </div>

          
                <!--== DASHBOARD INFO ==-->
              
                   <div class="stu-db">
                    <div class="container pg-inn">
                        <div class="col-md-9">
                            <div class="udb">
                                <div class="udb-sec udb-prof">
                                    <h4><img src="assets/images/icon/db1.png" alt="" /> My Profile</h4>
                                    <p>My name is Emna Hmani.I am an engineering student
                                         in National School of Computer Science </p>
                                </div>
                                <div class="udb-sec udb-cour">
                                    <h4><img src="assets/images/icon/db2.png" alt="" /> My Classrooms</h4>
                                    <div class="sdb-cours">
                                        <ul *ngFor = "let course of courses">
                                            <li>
                                                <a href="" [routerLink]="['/student-classroom/', this.course.idCourse]" routerLinkActive="active" >
                                                    <div class="list-mig-like-com com-mar-bot-30">
                                                        <div class="list-mig-lc-img"> <img src="assets/images/course/3.jpg" alt=""> <span class="home-list-pop-rat list-mi-pr">{{course.description}}</span> </div>
                                                        <div class="list-mig-lc-con">
                                                            <h5>{{course.title}}</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="udb-sec udb-cour-stat">
                                    <h4><img src="assets/images/icon/db3.png" alt="" /> Course Status</h4>
                                    <!--<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.The point of using Lorem Ipsummaking it look like readable English.</p>-->
                                    <div class="pro-con-table">
                                        <table class="bordered responsive-table">
                                            <thead>
                                                <tr>
                                                    <th>Course Name</th>
                                                    <th>Year</th>
                                                    
                                                    <th>Description</th> 
                                                    <th>Status</th> 
                                                </tr>
                                            </thead>
                            
                                            <tbody *ngFor = "let course of courses">
                                                <tr>

                                                    <td>{{course.title}}</td>
                                                    <td>{{course.year}}</td>
                                                    
                                                    <td>{{course.description}}</td>
                                                    <td><span class="pro-user-act">active</span></td>
                                                
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--<div class="udb-sec udb-time">
                                    <h4><img src="assets/images/icon/db4.png" alt="" /> Class Time Line</h4>
                                    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                    <div class="tour_head1 udb-time-line days">
                                        <ul>
                                            <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                <div class="sdb-cl-tim">
                                                    <div class="sdb-cl-day">
                                                        <h5>Today</h5>
                                                        <span>10Sep 2018</span>
                                                    </div>
                                                    <div class="sdb-cl-class">
                                                        <ul>
                                                            <li>
                                                                <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Class timing">
                                                                    <span>09:30 am</span>
                                                                    <span>10:15 pm</span>
                                                                </div>
                                                                <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Class Details">
                                                                    <h5>Software Testing <span>John Smith</span></h5>
                                                                    <span class="sdn-hall-na">Apj Hall 112</span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Class timing">
                                                                    <span>10:15 am</span>
                                                                    <span>11:00 am</span>
                                                                </div>
                                                                <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Class Details">
                                                                    <h5>Mechanical Design Classes <span>Stephanie</span></h5>
                                                                    <span class="sdn-hall-na">Apj Hall 112</span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="sdb-cl-class-tim">
                                                                    <span>11:00 am</span>
                                                                    <span>11:45 am</span>
                                                                </div>
                                                                <div class="sdb-cl-class-name sdb-cl-class-name-lev">
                                                                    <h5>Board Exam Training Classes <span>Matthew</span></h5>
                                                                    <span class="sdn-hall-na">Apj Hall 112</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                <div class="sdb-cl-tim">
                                                    <div class="sdb-cl-day">
                                                        <h5>Tuesday</h5>
                                                        <span>11Sep 2018</span>
                                                    </div>
                                                    <div class="sdb-cl-class">
                                                        <ul>
                                                            <li>
                                                                <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Class timing">
                                                                    <span>9:30 am</span>
                                                                    <span>10:15 am</span>
                                                                </div>
                                                                <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Class Details">
                                                                    <h5>Agriculture <span>John Smith</span></h5>
                                                                    <span class="sdn-hall-na">Apj Hall 112</span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="sdb-cl-class-tim">
                                                                    <span>10:15 am</span>
                                                                    <span>11:00 am</span>
                                                                </div>
                                                                <div class="sdb-cl-class-name">
                                                                    <h5>Google Product Training <span>Stephanie</span></h5>
                                                                    <span class="sdn-hall-na">Apj Hall 112</span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="sdb-cl-class-tim">
                                                                    <span>11:00 am</span>
                                                                    <span>11:45 am</span>
                                                                </div>
                                                                <div class="sdb-cl-class-name sdb-cl-class-name-lev">
                                                                    <h5>Web Design & Development <span>Matthew</span></h5>
                                                                    <span class="sdn-hall-na">Apj Hall 112</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                <div class="sdb-cl-tim">
                                                    <div class="sdb-cl-day">
                                                        <h5>Wednesday</h5>
                                                        <span>12Sep 2018</span>
                                                    </div>
                                                    <div class="sdb-cl-class">
                                                        <ul>
                                                            <li>
                                                                <div class="sdb-cl-class-tim">
                                                                    <span>9:30 am</span>
                                                                    <span>10:15 am</span>
                                                                </div>
                                                                <div class="sdb-cl-class-name">
                                                                    <h5>Software Testing <span>John Smith</span></h5>
                                                                    <span class="sdn-hall-na">Apj Hall 112</span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="sdb-cl-class-tim">
                                                                    <span>10:15 am</span>
                                                                    <span>11:00 am</span>
                                                                </div>
                                                                <div class="sdb-cl-class-name">
                                                                    <h5>Mechanical Design Classes <span>Stephanie</span></h5>
                                                                    <span class="sdn-hall-na">Apj Hall 112</span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="sdb-cl-class-tim">
                                                                    <span>11:00 am</span>
                                                                    <span>11:45 am</span>
                                                                </div>
                                                                <div class="sdb-cl-class-name sdb-cl-class-name-lev">
                                                                    <h5>Board Exam Training Classes <span>Matthew</span></h5>
                                                                    <span class="sdn-hall-na">Apj Hall 112</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                <h4><span>Holiday: </span> Thursday </h4>
                                                <p>After breakfast, proceed for tour of Dubai city. Visit Jumeirah Mosque, World Trade Centre, Palaces and Dubai Museum. Enjoy your overnight stay at the hotel.In the evening, enjoy a tasty dinner on the Dhow cruise.
                                                    Later, head back to the hotel for a comfortable overnight stay.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>-->     
                            </div>
                        </div>
                        
                    </div>
                </div>
              
            </div>
        </div>
    </div>

</body>