
<body>
    <!--== MAIN CONTRAINER ==-->
    <div class="container-fluid sb1">
     <div class="row">
         <!--== LOGO ==-->
         <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">

          <!--  <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
             <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a> -->

             <a href="index-2.html" class=""><img src="assets/images/logo1.png" alt="" />
             </a>
         </div>
     </div>
 </div>

 <!--== BODY CONTNAINER ==-->
 <div class="container-fluid sb2 ">
     <div >
         <div class="sb2-1 ">
             <app-side-bar></app-side-bar>
         </div>
         <!--== BODY INNER CONTAINER ==-->
         <div class="sb2-2">
             <!--== breadcrumbs ==-->
             <div class="sb2-2-2">
                 <ul>
                     <li><a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                     </li>
                     <li class="active-bre"><a href="#"> Groups(Calendars)</a>
                     </li>
                     <li class="page-back"><a href="/home"><i class="fa fa-backward" aria-hidden="true"></i> Logout</a>
                     </li>
                 </ul>
             </div>

             <!--== User Details ==-->
             <div class="sb2-2-3">
                 <div class="row">
                     <div class="col-md-12">
                         <div class="box-inn-sp">
                             <div class="inn-title">
                                 <h4>Group's calendars</h4>
                                
                             </div>
                             <div class="tab-inn">
                                <div *ngIf="isDataAvailable">
                                    <app-panel-loader></app-panel-loader>
                                    <div class="container" >
                                        <div class="container">
                                            <div class="container">
                                                <h3>TimeTable Entity for {{course.title}}</h3>
                                                <!--<button (click)="create()" class="btn btn-primary">New</button>-->
                                            </div>
                                            <div class="container">
                                                <input class="form-control-searchbox" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" 
                                                placeholder="&#171; Search">
                                                <table  class="table table-striped table-sm">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>Day</th>
                                                            <th>Lesson Number</th>
                                                          <!-- <th>Classroom</th> --> 
                                                            <th>Class</th>
                                                            <th>Functions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let entity of timeTableS | filter:searchText">
                                                            <td>{{entity.day}}</td>
                                                            <td>{{entity.lessonNumber}}</td>
                                                         <!--  <td>{{entity.room.classroomNumber}}</td>   --> 
                                                            <td>{{entity.group.nameG}}/{{entity.group.levelG}}</td>
                                                            <td>
                                                                <button (click)="update(course.idCourse)" class="btn btn-warning">Update</button>
                                                                <button (click)="delete(course.idCourse)" class="btn btn-danger">Delete</button>
                                                            </td>
                                                        </tr>    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>

     </div>
 </div>

</body>



